html[b-hf5lhnu3jv] {
    -webkit-print-color-adjust: exact;
}

*[b-hf5lhnu3jv] {
    box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

p[b-hf5lhnu3jv], summary[b-hf5lhnu3jv], li[b-hf5lhnu3jv] {
    font-size: 1.25rem;
}

html[b-hf5lhnu3jv],
body[b-hf5lhnu3jv] {
    margin: 0;
    padding: 0;
}

@media only screen {
    body[b-hf5lhnu3jv] {
        margin: 2em auto;
        max-width: 900px;
        color: rgb(55, 53, 47);
    }
}

body[b-hf5lhnu3jv] {
    line-height: 1.5;
    white-space: pre-wrap;
}

a[b-hf5lhnu3jv],
a.visited[b-hf5lhnu3jv] {
    color: inherit;
    text-decoration: underline;
}

.pdf-relative-link-path[b-hf5lhnu3jv] {
    font-size: 80%;
    color: #444;
}

h1[b-hf5lhnu3jv],
h2[b-hf5lhnu3jv],
h3[b-hf5lhnu3jv] {
    letter-spacing: -0.01em;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0;
}

.page-title[b-hf5lhnu3jv] {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75em;
}

h1[b-hf5lhnu3jv] {
    font-size: 1.875rem;
    margin-top: 1.875rem;
}

h2[b-hf5lhnu3jv] {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

h3[b-hf5lhnu3jv] {
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.source[b-hf5lhnu3jv] {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 1.5em;
    word-break: break-all;
}

.callout[b-hf5lhnu3jv] {
    border-radius: 3px;
    padding: 1rem;
}

figure[b-hf5lhnu3jv] {
    margin: 1.25em 0;
    page-break-inside: avoid;
}

figcaption[b-hf5lhnu3jv] {
    opacity: 0.5;
    font-size: 85%;
    margin-top: 0.5em;
}

mark[b-hf5lhnu3jv] {
    background-color: transparent;
}

.indented[b-hf5lhnu3jv] {
    padding-left: 1.5em;
}

hr[b-hf5lhnu3jv] {
    background: transparent;
    display: block;
    width: 100%;
    height: 1px;
    visibility: visible;
    border: none;
    border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

img[b-hf5lhnu3jv] {
    max-width: 100%;
}

@media only print {
    img[b-hf5lhnu3jv] {
        max-height: 100vh;
        object-fit: contain;
    }
}

@page {
    margin: 1in;
}

.collection-content[b-hf5lhnu3jv] {
    font-size: 0.875rem;
}

.column-list[b-hf5lhnu3jv] {
    display: flex;
    justify-content: space-between;
}

.column[b-hf5lhnu3jv] {
    padding: 0 1em;
}

    .column:first-child[b-hf5lhnu3jv] {
        padding-left: 0;
    }

    .column:last-child[b-hf5lhnu3jv] {
        padding-right: 0;
    }

.table_of_contents-item[b-hf5lhnu3jv] {
    display: block;
    font-size: 0.875rem;
    line-height: 1.3;
    padding: 0.125rem;
}

.table_of_contents-indent-1[b-hf5lhnu3jv] {
    margin-left: 1.5rem;
}

.table_of_contents-indent-2[b-hf5lhnu3jv] {
    margin-left: 3rem;
}

.table_of_contents-indent-3[b-hf5lhnu3jv] {
    margin-left: 4.5rem;
}

.table_of_contents-link[b-hf5lhnu3jv] {
    text-decoration: none;
    opacity: 0.7;
    border-bottom: 1px solid rgba(55, 53, 47, 0.18);
}

table[b-hf5lhnu3jv],
th[b-hf5lhnu3jv],
td[b-hf5lhnu3jv] {
    border: 1px solid rgba(55, 53, 47, 0.09);
    border-collapse: collapse;
}

table[b-hf5lhnu3jv] {
    border-left: none;
    border-right: none;
}

th[b-hf5lhnu3jv],
td[b-hf5lhnu3jv] {
    font-weight: normal;
    padding: 0.25em 0.5em;
    line-height: 1.5;
    min-height: 1.5em;
    text-align: left;
}

th[b-hf5lhnu3jv] {
    color: rgba(55, 53, 47, 0.6);
}

ol[b-hf5lhnu3jv],
ul[b-hf5lhnu3jv] {
    margin: 0;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
}

li > ol:first-child[b-hf5lhnu3jv],
li > ul:first-child[b-hf5lhnu3jv] {
    margin-block-start: 0.6em;
}

ul > li[b-hf5lhnu3jv] {
    list-style: disc;
}

ul.to-do-list[b-hf5lhnu3jv] {
    padding-inline-start: 0;
}

    ul.to-do-list > li[b-hf5lhnu3jv] {
        list-style: none;
    }

.to-do-children-checked[b-hf5lhnu3jv] {
    text-decoration: line-through;
    opacity: 0.375;
}

ul.toggle > li[b-hf5lhnu3jv] {
    list-style: none;
}

ul[b-hf5lhnu3jv] {
    padding-inline-start: 1.7em;
}

    ul > li[b-hf5lhnu3jv] {
        padding-left: 0.1em;
    }

ol[b-hf5lhnu3jv] {
    padding-inline-start: 1.6em;
}

    ol > li[b-hf5lhnu3jv] {
        padding-left: 0.2em;
    }

.mono ol[b-hf5lhnu3jv] {
    padding-inline-start: 2em;
}

    .mono ol > li[b-hf5lhnu3jv] {
        text-indent: -0.4em;
    }

.toggle[b-hf5lhnu3jv] {
    padding-inline-start: 0em;
    list-style-type: none;
}

    /* Indent toggle children */
    .toggle > li > details[b-hf5lhnu3jv] {
        padding-left: 1.7em;
    }

        .toggle > li > details > summary[b-hf5lhnu3jv] {
            margin-left: -1.1em;
        }

.selected-value[b-hf5lhnu3jv] {
    display: inline-block;
    padding: 0 0.5em;
    background: rgba(206, 205, 202, 0.5);
    border-radius: 3px;
    margin-right: 0.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    white-space: nowrap;
}

.collection-title[b-hf5lhnu3jv] {
    display: inline-block;
    margin-right: 1em;
}

.simple-table[b-hf5lhnu3jv] {
    margin-top: 1em;
    font-size: 0.875rem;
    empty-cells: show;
}

    .simple-table td[b-hf5lhnu3jv] {
        height: 29px;
        min-width: 120px;
    }

    .simple-table th[b-hf5lhnu3jv] {
        height: 29px;
        min-width: 120px;
    }

.simple-table-header-color[b-hf5lhnu3jv] {
    background: rgb(247, 246, 243);
    color: black;
}

.simple-table-header[b-hf5lhnu3jv] {
    font-weight: 500;
}

time[b-hf5lhnu3jv] {
    opacity: 0.5;
}

.icon[b-hf5lhnu3jv] {
    display: inline-block;
    max-width: 1.2em;
    max-height: 1.2em;
    text-decoration: none;
    vertical-align: text-bottom;
    margin-right: 0.5em;
}

img.icon[b-hf5lhnu3jv] {
    border-radius: 3px;
}

.user-icon[b-hf5lhnu3jv] {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.user-icon-inner[b-hf5lhnu3jv] {
    font-size: 0.8em;
}

.text-icon[b-hf5lhnu3jv] {
    border: 1px solid #000;
    text-align: center;
}

.page-cover-image[b-hf5lhnu3jv] {
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 30vh;
}

.page-header-icon[b-hf5lhnu3jv] {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.page-header-icon-with-cover[b-hf5lhnu3jv] {
    margin-top: -0.72em;
    margin-left: 0.07em;
}

.page-header-icon img[b-hf5lhnu3jv] {
    border-radius: 3px;
}

.link-to-page[b-hf5lhnu3jv] {
    margin: 1em 0;
    padding: 0;
    border: none;
    font-weight: 500;
}

p > .user[b-hf5lhnu3jv] {
    opacity: 0.5;
}

td > .user[b-hf5lhnu3jv],
td > time[b-hf5lhnu3jv] {
    white-space: nowrap;
}

input[type="checkbox"][b-hf5lhnu3jv] {
    transform: scale(1.5);
    margin-right: 0.6em;
    vertical-align: middle;
}

p[b-hf5lhnu3jv] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.image[b-hf5lhnu3jv] {
    border: none;
    margin: 1.5em 0;
    padding: 0;
    border-radius: 0;
    text-align: center;
}

.code[b-hf5lhnu3jv],
code[b-hf5lhnu3jv] {
    background: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 85%;
    tab-size: 2;
}

code[b-hf5lhnu3jv] {
    color: #eb5757;
}

.code[b-hf5lhnu3jv] {
    padding: 1.5em 1em;
}

.code-wrap[b-hf5lhnu3jv] {
    white-space: pre-wrap;
    word-break: break-all;
}

.code > code[b-hf5lhnu3jv] {
    background: none;
    padding: 0;
    font-size: 100%;
    color: inherit;
}

blockquote[b-hf5lhnu3jv] {
    font-size: 1.25em;
    margin: 1em 0;
    padding-left: 1em;
    border-left: 3px solid rgb(55, 53, 47);
}

.bookmark[b-hf5lhnu3jv] {
    text-decoration: none;
    max-height: 8em;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: stretch;
}

.bookmark-title[b-hf5lhnu3jv] {
    font-size: 0.85em;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.75em;
    white-space: nowrap;
}

.bookmark-text[b-hf5lhnu3jv] {
    display: flex;
    flex-direction: column;
}

.bookmark-info[b-hf5lhnu3jv] {
    flex: 4 1 180px;
    padding: 12px 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bookmark-image[b-hf5lhnu3jv] {
    width: 33%;
    flex: 1 1 180px;
    display: block;
    position: relative;
    object-fit: cover;
    border-radius: 1px;
}

.bookmark-description[b-hf5lhnu3jv] {
    color: rgba(55, 53, 47, 0.6);
    font-size: 0.75em;
    overflow: hidden;
    max-height: 4.5em;
    word-break: break-word;
}

.bookmark-href[b-hf5lhnu3jv] {
    font-size: 0.75em;
    margin-top: 0.25em;
}

.sans[b-hf5lhnu3jv] {
    font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.code[b-hf5lhnu3jv] {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
}

.serif[b-hf5lhnu3jv] {
    font-family: Lyon-Text, Georgia, ui-serif, serif;
}

.mono[b-hf5lhnu3jv] {
    font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}

.pdf .sans[b-hf5lhnu3jv] {
    font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK JP';
}

.pdf:lang(zh-CN) .sans[b-hf5lhnu3jv] {
    font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK SC';
}

.pdf:lang(zh-TW) .sans[b-hf5lhnu3jv] {
    font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK TC';
}

.pdf:lang(ko-KR) .sans[b-hf5lhnu3jv] {
    font-family: Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", 'Twemoji', 'Noto Color Emoji', 'Noto Sans CJK KR';
}

.pdf .code[b-hf5lhnu3jv] {
    font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK JP';
}

.pdf:lang(zh-CN) .code[b-hf5lhnu3jv] {
    font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC';
}

.pdf:lang(zh-TW) .code[b-hf5lhnu3jv] {
    font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK TC';
}

.pdf:lang(ko-KR) .code[b-hf5lhnu3jv] {
    font-family: Source Code Pro, "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK KR';
}

.pdf .serif[b-hf5lhnu3jv] {
    font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK JP';
}

.pdf:lang(zh-CN) .serif[b-hf5lhnu3jv] {
    font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK SC';
}

.pdf:lang(zh-TW) .serif[b-hf5lhnu3jv] {
    font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK TC';
}

.pdf:lang(ko-KR) .serif[b-hf5lhnu3jv] {
    font-family: PT Serif, Lyon-Text, Georgia, ui-serif, serif, 'Twemoji', 'Noto Color Emoji', 'Noto Serif CJK KR';
}

.pdf .mono[b-hf5lhnu3jv] {
    font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK JP';
}

.pdf:lang(zh-CN) .mono[b-hf5lhnu3jv] {
    font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK SC';
}

.pdf:lang(zh-TW) .mono[b-hf5lhnu3jv] {
    font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK TC';
}

.pdf:lang(ko-KR) .mono[b-hf5lhnu3jv] {
    font-family: PT Mono, iawriter-mono, Nitti, Menlo, Courier, monospace, 'Twemoji', 'Noto Color Emoji', 'Noto Sans Mono CJK KR';
}

.highlight-default[b-hf5lhnu3jv] {
    color: rgba(55, 53, 47, 1);
}

.highlight-gray[b-hf5lhnu3jv] {
    color: rgba(120, 119, 116, 1);
    fill: rgba(120, 119, 116, 1);
}

.highlight-brown[b-hf5lhnu3jv] {
    color: rgba(159, 107, 83, 1);
    fill: rgba(159, 107, 83, 1);
}

.highlight-orange[b-hf5lhnu3jv] {
    color: rgba(217, 115, 13, 1);
    fill: rgba(217, 115, 13, 1);
}

.highlight-yellow[b-hf5lhnu3jv] {
    color: rgba(203, 145, 47, 1);
    fill: rgba(203, 145, 47, 1);
}

.highlight-teal[b-hf5lhnu3jv] {
    color: rgba(68, 131, 97, 1);
    fill: rgba(68, 131, 97, 1);
}

.highlight-blue[b-hf5lhnu3jv] {
    color: rgba(51, 126, 169, 1);
    fill: rgba(51, 126, 169, 1);
}

.highlight-purple[b-hf5lhnu3jv] {
    color: rgba(144, 101, 176, 1);
    fill: rgba(144, 101, 176, 1);
}

.highlight-pink[b-hf5lhnu3jv] {
    color: rgba(193, 76, 138, 1);
    fill: rgba(193, 76, 138, 1);
}

.highlight-red[b-hf5lhnu3jv] {
    color: rgba(212, 76, 71, 1);
    fill: rgba(212, 76, 71, 1);
}

.highlight-gray_background[b-hf5lhnu3jv] {
    background: rgba(241, 241, 239, 1);
}

.highlight-brown_background[b-hf5lhnu3jv] {
    background: rgba(244, 238, 238, 1);
}

.highlight-orange_background[b-hf5lhnu3jv] {
    background: rgba(251, 236, 221, 1);
}

.highlight-yellow_background[b-hf5lhnu3jv] {
    background: rgba(251, 243, 219, 1);
}

.highlight-teal_background[b-hf5lhnu3jv] {
    background: rgba(237, 243, 236, 1);
}

.highlight-blue_background[b-hf5lhnu3jv] {
    background: rgba(231, 243, 248, 1);
}

.highlight-purple_background[b-hf5lhnu3jv] {
    background: rgba(244, 240, 247, 0.8);
}

.highlight-pink_background[b-hf5lhnu3jv] {
    background: rgba(249, 238, 243, 0.8);
}

.highlight-red_background[b-hf5lhnu3jv] {
    background: rgba(253, 235, 236, 1);
}

.block-color-default[b-hf5lhnu3jv] {
    color: inherit;
    fill: inherit;
}

.block-color-gray[b-hf5lhnu3jv] {
    color: rgba(120, 119, 116, 1);
    fill: rgba(120, 119, 116, 1);
}

.block-color-brown[b-hf5lhnu3jv] {
    color: rgba(159, 107, 83, 1);
    fill: rgba(159, 107, 83, 1);
}

.block-color-orange[b-hf5lhnu3jv] {
    color: rgba(217, 115, 13, 1);
    fill: rgba(217, 115, 13, 1);
}

.block-color-yellow[b-hf5lhnu3jv] {
    color: rgba(203, 145, 47, 1);
    fill: rgba(203, 145, 47, 1);
}

.block-color-teal[b-hf5lhnu3jv] {
    color: rgba(68, 131, 97, 1);
    fill: rgba(68, 131, 97, 1);
}

.block-color-blue[b-hf5lhnu3jv] {
    color: rgba(51, 126, 169, 1);
    fill: rgba(51, 126, 169, 1);
}

.block-color-purple[b-hf5lhnu3jv] {
    color: rgba(144, 101, 176, 1);
    fill: rgba(144, 101, 176, 1);
}

.block-color-pink[b-hf5lhnu3jv] {
    color: rgba(193, 76, 138, 1);
    fill: rgba(193, 76, 138, 1);
}

.block-color-red[b-hf5lhnu3jv] {
    color: rgba(212, 76, 71, 1);
    fill: rgba(212, 76, 71, 1);
}

.block-color-gray_background[b-hf5lhnu3jv] {
    background: rgba(241, 241, 239, 1);
}

.block-color-brown_background[b-hf5lhnu3jv] {
    background: rgba(244, 238, 238, 1);
}

.block-color-orange_background[b-hf5lhnu3jv] {
    background: rgba(251, 236, 221, 1);
}

.block-color-yellow_background[b-hf5lhnu3jv] {
    background: rgba(251, 243, 219, 1);
}

.block-color-teal_background[b-hf5lhnu3jv] {
    background: rgba(237, 243, 236, 1);
}

.block-color-blue_background[b-hf5lhnu3jv] {
    background: rgba(231, 243, 248, 1);
}

.block-color-purple_background[b-hf5lhnu3jv] {
    background: rgba(244, 240, 247, 0.8);
}

.block-color-pink_background[b-hf5lhnu3jv] {
    background: rgba(249, 238, 243, 0.8);
}

.block-color-red_background[b-hf5lhnu3jv] {
    background: rgba(253, 235, 236, 1);
}

.select-value-color-pink[b-hf5lhnu3jv] {
    background-color: rgba(245, 224, 233, 1);
}

.select-value-color-purple[b-hf5lhnu3jv] {
    background-color: rgba(232, 222, 238, 1);
}

.select-value-color-green[b-hf5lhnu3jv] {
    background-color: rgba(219, 237, 219, 1);
}

.select-value-color-gray[b-hf5lhnu3jv] {
    background-color: rgba(227, 226, 224, 1);
}

.select-value-color-opaquegray[b-hf5lhnu3jv] {
    background-color: rgba(255, 255, 255, 0.0375);
}

.select-value-color-orange[b-hf5lhnu3jv] {
    background-color: rgba(250, 222, 201, 1);
}

.select-value-color-brown[b-hf5lhnu3jv] {
    background-color: rgba(238, 224, 218, 1);
}

.select-value-color-red[b-hf5lhnu3jv] {
    background-color: rgba(255, 226, 221, 1);
}

.select-value-color-yellow[b-hf5lhnu3jv] {
    background-color: rgba(253, 236, 200, 1);
}

.select-value-color-blue[b-hf5lhnu3jv] {
    background-color: rgba(211, 229, 239, 1);
}

.checkbox[b-hf5lhnu3jv] {
    display: inline-flex;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    background-size: 16px;
    margin-left: 2px;
    margin-right: 5px;
}

.checkbox-on[b-hf5lhnu3jv] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2358A9D7%22%2F%3E%0A%3Cpath%20d%3D%22M6.71429%2012.2852L14%204.9995L12.7143%203.71436L6.71429%209.71378L3.28571%206.2831L2%207.57092L6.71429%2012.2852Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");
}

.checkbox-off[b-hf5lhnu3jv] {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Crect%20x%3D%220.75%22%20y%3D%220.75%22%20width%3D%2214.5%22%20height%3D%2214.5%22%20fill%3D%22white%22%20stroke%3D%22%2336352F%22%20stroke-width%3D%221.5%22%2F%3E%0A%3C%2Fsvg%3E");
}
