@page "Home"
@model client.Views.Home.IndexModel

<div>
    <div class="text-center pb-4">
        <h1 class="display-4">Minha Lista</h1>
        <p>Listagem de pokémons com a <a href="https://pokeapi.co/">pokéAPI</a>.</p>
    </div>

    <div>
        @await Component.InvokeAsync("Callout", new {message = "Listagem de dados renderizada pelo Server-Side."})

         
        @*Enable Data Table*@
        @*<partial name="Components/Datatable/Default" />*@

        <ul id="fake-id-pokelist">
            <p id="fake-id-loading">Carregando..</p>
        </ul>
    </div>
</div>


@section scripts {
    <script type="text/babel">
        type Pokemon = {
            name: string,
            url: string
        }

        var pokemons: Pokemon[] = []
        var ulItem = document.querySelector("#fake-id-pokelist")
        var loadingPItem = document.querySelector("#fake-id-loading")

        async function getAllPokemons() {
            await fetch("https://pokeapi.co/api/v2/pokemon").then(res => res.json()).then(data => {
                pokemons = data.results
            })
        } 
        
        window.addEventListener('load', async () => {
            await getAllPokemons()

            
            if(pokemons.length === 0) {
                loadingPItem.innerHTML = "Não foi possível carregar a lista ;("
                return
            }

            ulItem.removeChild(loadingPItem)

            pokemons.map(item => {
                let li = document.createElement('li')
                li.innerHTML = item.name

                ulItem.appendChild(li)
            })
        })

    </script>
}