@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model client.Views.Home.IndexModel


<div class="text-center">
    <h1 class="display-4">PokéList</h1>
    <p>Listagem de pokémons com a <a href="https://pokeapi.co/">pokéAPI</a>.</p>

     <partial name="Components/Datatable/Default" />
</div>
