<!--begin::Header-->
<div id="kt_header" class="header  header-fixed ">

	<!--begin::Container-->
	<div class=" container-fluid ">

		<!--begin::Header Menu Wrapper-->
		<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

			<!--begin::Logo-->
			<div class="header-logo mr-10 d-none d-lg-flex">
				<a href="index.html">
					<img alt="Logo" src="~/media/logos/ultraball.svg" class="h-40px" />
				</a>
			</div>

			<!--end::Logo-->
			<!--begin::Header Menu-->
			<div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">

				<!--begin::Header Nav-->
				<ul class="menu-nav ">
					<li class="menu-item menu-item-active"><a href="/home" class="menu-link "><span class="menu-text">Home</span></a></li>
					<li class="menu-item"><a href="/favorite" class="menu-link "><span class="menu-text">Favoritos</span></a></li>
					<li class="menu-item"><a href="/proof" class="menu-link "><span class="menu-text">DOC</span></a></li>
				</ul>
				<!--end::Header Nav-->
			</div>

			<!--end::Header Menu-->
		</div>

		<!--end::Header Menu Wrapper-->
	</div>

	<!--end::Container-->
</div>

<!--end::Header-->